/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica Now Display", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-container .header-frame {
  position: relative;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 3fr auto;
  border: 4px solid #000000;
  background-color: white;
  align-items: center;
  font-family: "Helvetica Now Display", sans-serif;
}
.header-container .header-frame .header-redCol {
  width: calc(0.7rem + 0.7vw);
  min-height: calc(3.5rem + 3.5vw);
  height: 100%;
  background-color: rgb(255, 0, 22);
}
.header-container .header-frame .header-companyName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: calc(0.25rem + 0.25vw);
  padding: calc(0.5rem + 0.5vw);
  height: 100%;
}
.header-container .header-frame .header-companyName h2 {
  font-size: calc(1.75rem + 1.75vw);
  font-weight: 700;
}
.header-container .header-frame .header-companyName p {
  font-size: calc(0.6rem + 0.6vw);
  font-weight: 600;
}
.header-container .header-frame .header-nav {
  padding: 2.5%;
  line-height: 2rem;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: calc(0.6rem + 0.6vw);
  font-weight: 600;
}
.header-container .header-frame .header-nav .header-navWrapper {
  display: flex;
  -moz-column-gap: calc(0.5rem + 1vw);
       column-gap: calc(0.5rem + 1vw);
}
@media screen and (max-width: 975px) {
  .header-container .header-frame .header-nav {
    display: none;
  }
}
.header-container .header-frame .header-navSuggest {
  padding: calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: calc(0.3rem + 0.3vw);
}
.header-container .header-frame .header-navSuggest a {
  display: flex;
  -moz-column-gap: calc(0.2rem + 0.2vw);
       column-gap: calc(0.2rem + 0.2vw);
  font-size: calc(0.7rem + 0.7vw);
  font-weight: 600;
}
@media screen and (max-width: 975px) {
  .header-container .header-frame .header-navSuggest {
    display: none;
  }
}
.header-container .header-frame .header-menuBtn-div {
  position: absolute;
  right: 1%;
}
@media screen and (min-width: 976px) {
  .header-container .header-frame .header-menuBtn-div {
    display: none;
  }
}
.header-container .header-frame .header-menuBtn-div .header-menuBtn {
  display: inline-block;
  cursor: pointer;
}
.header-container .header-frame .header-menuBtn-div .header-menuBtn .bar1, .header-container .header-frame .header-menuBtn-div .header-menuBtn .bar2, .header-container .header-frame .header-menuBtn-div .header-menuBtn .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.header-container .header-frame .header-menuBtn-div .header-menuBtn .change.bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.header-container .header-frame .header-menuBtn-div .header-menuBtn .change.bar2 {
  opacity: 0;
}
.header-container .header-frame .header-menuBtn-div .header-menuBtn .change.bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.header-container .header-navOverlay {
  position: fixed;
  width: 100%;
  z-index: 9;
  font-family: "Helvetica Now Display", sans-serif;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  transform: translateY(-100%);
  transition: height 200ms ease-in-out, transform 200ms ease-in-out;
}
.header-container .header-navOverlay .header-suggestMobile {
  width: 100%;
  padding: calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(1rem + 1vw);
  background-color: rgb(255, 237, 237);
  font-family: "Helvetica Now Display", sans-serif;
}
.header-container .header-navOverlay .header-navMobile {
  font-family: "Helvetica Now Display", sans-serif;
  width: 100%;
  padding: calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  row-gap: calc(1rem + 1vw);
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.header-container .header-navOverlay .header-navMobile a {
  color: white;
  font-family: inherit;
}
@media screen and (min-width: 976px) {
  .header-container .header-navOverlay {
    display: none;
  }
}
.header-container .header-navOverlay.showNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(0.8rem + 0.8vw);
  height: 100%;
  transform: translateY(0);
  transition: height 200ms ease-in-out, transform 200ms ease-in-out;
}

.homePage-container {
  box-sizing: border-box;
  background-color: rgb(254, 247, 236);
}
.homePage-container .homePage-mainFrame {
  position: relative;
  padding-top: calc(2.5rem + 2.5vw);
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(2.5rem + 2.5vw);
}
.homePage-container .homePage-mainFrame .homePage-companyHeadline {
  position: relative;
  z-index: 7;
  padding-bottom: 10%;
  width: calc(6rem + 40vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(2.5rem + 2.5vw);
}
@media screen and (max-width: 975px) {
  .homePage-container .homePage-mainFrame .homePage-companyHeadline {
    padding-bottom: 15%;
  }
}
.homePage-container .homePage-mainFrame .homePage-companyHeadline img {
  width: calc(8rem + 33vw);
}
.homePage-container .homePage-mainFrame .homePage-companyHeadline div {
  text-align: center;
  font-size: calc(1rem + 1.75vw);
  font-family: "Helvetica Now Display", sans-serif;
  line-height: calc(1.25rem + 2.5vw);
  font-weight: 600;
}
.homePage-container .homePage-mainFrame .homePage-companyHeadline div span {
  font-weight: 900;
}
@media screen and (max-width: 975px) {
  .homePage-container .homePage-mainFrame .homePage-companyHeadline {
    width: 94%;
  }
}
.homePage-container .homePage-mainFrame .homePage-img-div {
  box-sizing: border-box;
  width: 100%;
}
.homePage-container .homePage-mainFrame .homePage-img-div .flower1 {
  width: calc(3.25rem + 10.5vw);
  position: absolute;
  bottom: calc(1.7rem + 1.7vw);
  z-index: 6;
  left: calc(0.75rem + 2.25vw);
}
.homePage-container .homePage-mainFrame .homePage-img-div .flower2 {
  width: calc(2rem + 8.5vw);
  position: absolute;
  bottom: 1.35rem;
  z-index: 6;
  left: calc(3rem + 17vw);
}
.homePage-container .homePage-mainFrame .homePage-img-div .flower3 {
  width: calc(4rem + 16.5vw);
  position: absolute;
  bottom: 0;
  z-index: 6;
  right: 1.5vw;
}
.homePage-container .homePage-mainFrame .homePage-img-div .cloud1 {
  position: absolute;
  width: calc(3.5rem + 18vw);
  bottom: calc(1.5rem + 8vw);
  left: calc(0.5rem + 2vw);
}
.homePage-container .homePage-mainFrame .homePage-img-div .cloud2 {
  position: absolute;
  width: calc(3.5rem + 18vw);
  left: 44%;
  bottom: calc(1.5rem + 3.5vw);
}
.homePage-container .homePage-mainFrame .homePage-img-div .mountain2 {
  width: calc(6rem + 45vw);
  position: absolute;
  bottom: calc(1.5rem + 3.5vw);
  left: calc(0.25rem + 0.5vw);
  z-index: 4;
}
.homePage-container .homePage-mainFrame .homePage-img-div .mountain1 {
  width: calc(4rem + 50vw);
  position: absolute;
  bottom: calc(1.25rem + 2.5vw);
  right: calc(0.25rem + 1vw);
  z-index: 5;
}
.homePage-container .homePage-mainFrame .homePage-modal-div {
  position: relative;
  z-index: 7;
  width: 100%;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  padding: calc(0.6rem + 0.6vw) 0;
  background-color: rgb(249, 191, 187);
  color: rgb(242, 90, 65);
  font-weight: 800;
  font-family: "Helvetica Now Display", sans-serif;
  font-size: calc(0.75rem + 1.75vw);
  white-space: nowrap;
  overflow: hidden;
}
.homePage-container .homePage-mainFrame .homePage-modal-div .homePage-modalwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: move-lft-modal 8000ms linear infinite;
  -moz-column-gap: calc(1rem + 2.5vw);
       column-gap: calc(1rem + 2.5vw);
}
@media screen and (max-width: 767px) {
  .homePage-container .homePage-mainFrame .homePage-modal-div .homePage-modalwrapper {
    animation: move-lft-modal 4000ms linear infinite;
  }
}
.homePage-container .homePage-mainFrame .homePage-modal-div .homePage-modalwrapper div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.homePage-container .homePage-mainFrame .homePage-modal-div .homePage-modalwrapper img {
  width: calc(0.4rem + 0.75vw);
  color: white;
}
.homePage-container .homePage-mainFrame .homePage-modal-div:hover {
  color: white;
  background-color: rgb(242, 90, 65);
  cursor: pointer;
}
.homePage-container .homePage-mainFrame .homePage-modal-div:hover .homePage-modalwrapper {
  animation-play-state: paused;
}
.homePage-container .homePage-dealFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  row-gap: calc(2rem + 2vw);
  padding: calc(1rem + 5vw);
  text-align: center;
  font-family: "Helvetica Now Display", sans-serif;
}
@media screen and (max-width: 620px) {
  .homePage-container .homePage-dealFrame {
    padding: calc(1rem + 5vw) 2vw;
  }
}
.homePage-container .homePage-dealFrame .homePage-dealHeadline {
  font-size: calc(1rem + 3vw);
  font-weight: 700;
}
.homePage-container .homePage-dealFrame .homePage-dealParagraph {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  line-height: calc(1.5rem + 2.5vw);
}
.homePage-container .homePage-dealFrame .homePage-dealParagraph span {
  font-size: calc(1rem + 3vw);
  font-weight: 700;
}
.homePage-container .homePage-dealFrame .homePage-dealExp {
  font-size: calc(1rem + 1vw);
}
.homePage-container .homePage-dealFrame .homePage-dealImage-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
@media screen and (max-width: 620px) {
  .homePage-container .homePage-dealFrame .homePage-dealImage-div {
    width: 100%;
  }
}
.homePage-container .homePage-dealFrame .homePage-dealImage-div .brand1 {
  width: calc(2rem + 6vw);
}
.homePage-container .homePage-dealFrame .homePage-dealImage-div .brand2 {
  width: calc(2rem + 10vw);
}
.homePage-container .homePage-dealFrame .homePage-dealImage-div .brand3 {
  width: calc(2rem + 8vw);
}
.homePage-container .homePage-dealFrame .homePage-dealImage-div .brand4 {
  width: calc(2rem + 8vw);
}
.homePage-container .homePage-partnerFrame {
  border-top: 4px solid #000000;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
}
.homePage-container .homePage-partnerFrame .homePage-partnerHeadBox {
  position: relative;
  width: 100%;
  padding-top: calc(0.25rem + 3vw);
  padding-bottom: calc(0.25rem + 3vw);
  padding-right: calc(2rem + 4vw);
  display: flex;
  justify-content: end;
  font-family: "Helvetica Now Display", sans-serif;
}
@media screen and (max-width: 550px) {
  .homePage-container .homePage-partnerFrame .homePage-partnerHeadBox {
    padding-right: calc(0.1rem + 2vw);
  }
}
.homePage-container .homePage-partnerFrame .homePage-partnerHeadBox .brain-logo {
  position: absolute;
  width: calc(3rem + 17vw);
  bottom: calc(-0.35rem - 1.5vw);
  left: calc(0.25rem + 1vw);
}
.homePage-container .homePage-partnerFrame .homePage-partnerHeadBox .homePage-partnerHeadline {
  display: flex;
  flex-direction: column;
  gap: calc(0.4rem + 0.4vw);
}
.homePage-container .homePage-partnerFrame .homePage-partnerHeadBox .homePage-partnerHeadline div {
  font-size: calc(0.4rem + 2.7vw);
  font-weight: 700;
}
.homePage-container .homePage-partnerFrame .homePage-partnerHeadBox .homePage-partnerHeadline p {
  font-size: calc(0.2rem + 1.1vw);
  font-weight: 600;
}
.homePage-container .homePage-advisorPhoto-div {
  padding: calc(2rem + 5vw) 0;
  border-left: 4px solid #000000;
  outline: 4px solid #000000;
  outline-offset: -0.2rem;
  overflow: hidden;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper {
  display: flex;
  -moz-column-gap: calc(1rem + 2vw);
       column-gap: calc(1rem + 2vw);
  justify-content: end;
  transform: translateX(1%);
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box1 {
  display: flex;
  flex-direction: column;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box1 .homePage-arrow-div {
  padding-top: calc(1rem + 1vw);
  display: flex;
  -moz-column-gap: calc(0.3rem + 1vw);
       column-gap: calc(0.3rem + 1vw);
  font-size: calc(0.5rem + 2vw);
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box1 .homePage-arrow-div svg {
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: rgb(254, 247, 236);
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box1 .homePage-arrow-div svg:hover {
  cursor: pointer;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box1 .homePage-arrow-div svg:active {
  color: white;
  font-size: calc(0.55rem + 2.1vw);
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box2 {
  display: flex;
  flex-direction: column;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-box3 {
  display: flex;
  flex-direction: column;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .advisor-img {
  width: 27vw;
  aspect-ratio: 100/93;
  border-radius: 70% 70% 0 0;
  border: 4px solid #000000;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail {
  font-family: "Helvetica Now Display", sans-serif;
  width: 27vw;
  aspect-ratio: 100/50.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(0.5rem + 2vw) 0;
  row-gap: calc(0.5rem + 2vw);
  border-bottom: 4px solid #000000;
  border-right: 4px solid #000000;
  border-left: 4px solid #000000;
  background-color: rgb(252, 238, 237);
}
@media screen and (max-width: 975px) {
  .homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail {
    justify-content: center;
    padding: calc(0.25rem + 1vw) 0;
    row-gap: calc(0.25rem + 1vw);
  }
}
@media screen and (max-width: 400px) {
  .homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail {
    padding: calc(0.1rem + 0.1vw) 0;
    row-gap: calc(0.1rem + 0.1vw);
    aspect-ratio: 100/70;
  }
  .homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail h2 {
    font-size: 0.4rem;
  }
  .homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail p {
    font-size: 0.2rem;
    line-height: 1px;
  }
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail h2 {
  font-weight: 600;
  font-size: calc(0.2rem + 1.25vw);
  text-align: center;
}
.homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail p {
  width: 70%;
  text-align: center;
  font-size: calc(0.2rem + 0.9vw);
  line-height: calc(0.25rem + 1vw);
}
@media screen and (max-width: 975px) {
  .homePage-container .homePage-advisorPhoto-div .homePage-advisorPhoto-wrapper .homePage-advisorPhoto-detail p {
    width: 95%;
  }
}
.homePage-container .homePage-partnerBrand-slide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: calc(0.8rem + 1.2vw) 0;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  position: relative;
  overflow: hidden;
}
.homePage-container .homePage-partnerBrand-slide .homePage-partnerBrand-slideWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: move-lft-brand 15s linear infinite;
  -moz-column-gap: calc(1.5rem + 5vw);
       column-gap: calc(1.5rem + 5vw);
  position: relative;
}
.homePage-container .homePage-partnerBrand-slide .homePage-partnerBrand-slideWrapper div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.homePage-container .homePage-partnerBrand-slide .homePage-partnerBrand-slideWrapper img {
  width: calc(2rem + 8vw);
  color: white;
}
.homePage-container .homePage-suggestion-div {
  position: relative;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: calc(1rem + 10vw);
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div {
  border-top: 4px solid #000000;
  position: relative;
  aspect-ratio: 100/70.6;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div {
    padding-bottom: 1%;
  }
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div p {
  font-family: "Helvetica Now Display", sans-serif;
  font-size: calc(0.25rem + 1.4vw);
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div p {
    font-size: calc(0.15rem + 1.5vw);
  }
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div .homePage-suggestion-img1 {
  position: absolute;
  top: -14.75%;
  left: 20.5%;
  width: 59%;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div .homePage-suggestion-img2 {
  position: absolute;
  top: -15%;
  left: 28.75%;
  width: 42.5%;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes div .homePage-suggestion-img3 {
  position: absolute;
  top: -16%;
  left: 38.4%;
  width: 23.2%;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes .homePage-suggestion-box1 {
  border-right: 4px solid #000000;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-boxes .homePage-suggestion-box2 {
  border-right: 4px solid #000000;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end {
  padding-top: calc(0.75rem + 5vw);
  font-family: "Helvetica Now Display", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(0.5rem + 1.5vw);
  width: 100%;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-suggestion-endHeadline {
  font-size: calc(0.5rem + 9.5vw);
  font-weight: 700;
}
@media screen and (max-width: 550px) {
  .homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-suggestion-endHeadline {
    font-size: calc(0.25rem + 9vw);
  }
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-suggestion-endDetails {
  width: 60%;
  padding-right: 2.5%;
  align-self: end;
  font-size: calc(0.25rem + 1.4vw);
  line-height: calc(0.5rem + 2.5vw);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-suggestion-endDetails {
    font-size: calc(0.15rem + 1.5vw);
  }
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-suggestion-endDetails p span {
  font-size: calc(0.25rem + 2vw);
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-suggestion-endDetails p span {
    font-size: calc(0.15rem + 2vw);
  }
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div {
  position: relative;
  z-index: 7;
  width: 100%;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  padding: calc(0.6rem + 0.6vw) 0;
  background-color: rgb(249, 191, 187);
  color: rgb(242, 90, 65);
  font-weight: 800;
  font-family: "Helvetica Now Display", sans-serif;
  font-size: calc(0.75rem + 1.75vw);
  white-space: nowrap;
  overflow: hidden;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div .homePage-modalwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: move-lft-modal 8000ms linear infinite;
  -moz-column-gap: calc(1rem + 2.5vw);
       column-gap: calc(1rem + 2.5vw);
}
@media screen and (max-width: 767px) {
  .homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div .homePage-modalwrapper {
    animation: move-lft-modal 4000ms linear infinite;
  }
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div .homePage-modalwrapper div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div .homePage-modalwrapper img {
  width: calc(0.4rem + 0.75vw);
  color: white;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div:hover {
  color: white;
  background-color: rgb(242, 90, 65);
  cursor: pointer;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-end .homePage-modal-div:hover .homePage-modalwrapper {
  animation-play-state: paused;
}
.homePage-container .homePage-suggestion-div .homePage-suggestion-VictorySign-img {
  position: absolute;
  width: calc(3rem + 13vw);
  bottom: 0;
  left: 7.5%;
  z-index: 8;
}

.homePage-partnerBrand-slide::before {
  width: 15%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(254, 247, 236));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.homePage-partnerBrand-slide::after {
  width: 15%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(254, 247, 236));
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

@keyframes move-lft-modal {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes move-lft-brand {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-30%);
  }
}/*# sourceMappingURL=App.css.map */